
* {
  box-sizing: border-box;
  text-align: center;
}

/* INSTRUCTOR: Here is the filled out version of the float activity */

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: #ccc;
}

#name {
  float: left;
  width: 33.3%;
  color: #fff;
  background: #666;
}

#nav {
  float: left;
  width: 33.3%;
  color: #fff;
  background: #888;
}

#delete {
  float: left;
  width: 33.3%;
  color: #fff;
  background: #666;
}

#full {
  width: 100%;
  overflow: auto;
  clear: both;
  background: #eee;
}

#division {
  padding: 20px;
  margin-top: 20px;
  background: #6ea3da;
}

aside {
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
  background: #fff;
  border: 1px solid #eee;
}

footer {
  padding: 20px;
  clear: both;
  background: #ccc;
}







/*.container {
  width: 1024px;
  margin: 0 auto;
  
}

.main-img,
.aboutMe,
.conect{
	float: left;
}


.connect{
	width: 30%;
}

.aboutMe{
	width: 70%;
	
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
}

.main-img{
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/*nav{
	width: 30%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
*/