.containerTop{
  padding: 0;
    margin: 0;
    list-style: none;
    height: 200px;
}

.name{
  width: 200px;
    height: 100px;
    background-color: #00cc99;
    float: left;
}

.nav{
  float: right;
}

.connect{
  float: right;
}

footer{
  padding: 20px;
    clear: both;
    background: #ccc;
}

.clearfix {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}