.container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.containerlg{
  display: -webkit-flex;
  display: flex;
}

.initial{
  -webkit-flex: initial;
  flex: initial;
  width: 200px;
  height: 100px;
  background-color: #00cc99;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.nav{
  flex: 2;
}

.aboutMe{
  -webkit-flex: 2;
  flex: 2;
  flex-wrap: nowrap;
}

.connect{
  -webkit-flex: 1;
  flex: 1;
}

.hrlg {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 100px;
}

footer {
  padding: 20px;
  clear: both;
  background: #ccc;
}
